// * {
//   border: 1px solid green;
// }

// *******************TITLE AND BUTTION AREA STYLING*******************

.battleSelection {
  // height: 100%;
  padding: 50px;
  background-color: #2a75bb;
  color: white;
}

.battleContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.battleContainer img {
  width: 500px;
}

button {
  font-family: "Press Start 2P", cursive;
  border-style: none;
  background-color: #ff0000;
  color: white;
  padding: 20px 10px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
}

button:active {
  background-color: #cc0000;
  transform: translateY(4px);
}
// *******************DISPLAYING PLAYER SELECTION STYLING*******************

.youAndComputerChoice {
  padding: 70px 0;
  background-color: lightblue;
}

.youAndComputerChoice h2 {
  // margin: 0px;
  text-align: center;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.choiceContainer {
  display: flex;
  justify-content: space-around;
}

.yourChoice,
.computerChoice {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 50%;
}

.imageContainerOne,
.imageContainerTwo {
  border: 3px solid black;
  background-color: white;
  width: 300px;
}

.imageContainerOne img,
.imageContainerTwo img {
  width: 300px;
}

.pokemonName1,
.pokemonName2 {
  text-align: center;
}

// *******************BATTLE SECTION STYLING*******************

.battle {
  padding: 70px 0;
  background-color: #f4dacd;
}

.battle h2 {
  // margin: 0px;
  text-align: center;
  // padding-bottom: 50px;
  text-transform: uppercase;
}

.characterAndChoiceContainer {
  display: flex;
  justify-content: space-between;
}

.characterAndChoiceOne,
.characterAndChoiceTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.displayCharacter img {
  width: 100%;
  height: auto;
}

.pokeballTeam {
  text-align: center;
}

.pokeballTeam img {
  width: 40px;
  height: auto;
  // text-align: center;
}

.pokemonType1,
.pokemonType2,
.pokemonLevel1,
.pokemonLevel2 {
  text-align: center;
}

.versus {
  padding-top: 500px;
}

// *******************WINNER SECTION STYLING*******************

.winner {
  padding: 70px 0;
  background-color: lightblue;
}

.winner h2 {
  // margin: 0px;
  text-align: center;
  // padding-bottom: 50px;
  text-transform: uppercase;
}

.finalPokemon {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.imageOfWinner {
  border: 3px solid black;
  background-color: white;
  // width: 300px;
}

.imageOfWinner img {
  width: 300px;
}

.printWinner {
  font-size: 30px;
  padding: 40px 30px;
  text-align: center;
  line-height: 2.5;
  border: 3px solid black;
  background-color: white;
}

.levelAdvantage {
  padding-top: 40px;
  text-transform: uppercase;
}
