@use "./variables";

// * {
//   border: 1px solid pink;
// }

// Header styles

header {
  background: lightblue;
}
.headerFlex {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

// nav styles

nav ul {
  display: flex;

  li {
    padding-right: 70px;
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

// footer styles

footer {
  background-color: lightcoral;
  //   position: absolute;
  //   bottom: 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
  }
}
