@use "./variables";

// * {
//   border: 1px solid pink;
// }

// Header styles

header {
  background: #3c5aa6;
}
.headerFlex {
  display: flex;
  justify-content: space-between;
}

.headerFlex h2 {
  color: #ffde00;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

// nav styles

nav ul {
  display: flex;
  padding-top: 10px;

  li {
    padding-right: 70px;
    list-style: none;

    a {
      text-decoration: none;
      color: #ffde00;
    }
  }
}

// footer styles

footer {
  background-color: #3c5aa6;
  //   position: absolute;
  //   bottom: 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
    color: #ffde00;
    padding: 20px 0;
  }
}
