@use "./variables";

// * {
//   border: 1px solid pink;
// }

body{
  overflow-x: hidden;
}


// Header styles

header {
  background: #3c5aa6;
}
.headerFlex {
  display: flex;
  justify-content: space-between;
}

.headerFlex h2 {
  color: variables.$brightYellow;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

// nav styles

h2{
  padding-bottom: 2px;
}

.navBar {
  display: flex;
  padding-top: 10px;

  li {
    padding-right: 70px;
    list-style: none;

    a {
      text-decoration: none;
      color: variables.$brightYellow;
    }
  }
}

// Burger menu styles

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: variables.$brightYellow ;
}

// footer styles

footer {
  background-color: #3c5aa6;
  //   position: absolute;
  //   bottom: 0;
  text-align: center;
  width: 100%;

  p {
    margin: 0;
    color: variables.$brightYellow;
    padding: 20px 0;
  }
}
