@use "./variables";

// **********************SELECTION SECTION****************************************

.selection {
  padding: 50px;
  background-color: #2a75bb;
  color: white;
  height: 100%;
}

.container {
  text-align: center;
  // margin-top: 50px;
}

#pageTitle {
  margin: 0;
  padding: 50px 50px 30px 50px;
}

.container img {
  width: 100px;
}

form {
  padding-top: 30px;
}

#Pokemon {
  font-family: "Press Start 2P", cursive;
  padding: 10px 10px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 15px;
}

// ****************MAIN SECTION - DISPLAYING POKEOMON******************************
.pokemonImage {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
}

main {
  background-color: variables.$background;
}

.pokemonBalls {
  padding: 100px 0;
  width: 100%;

  img {
    width: 80%;
  }
}

// *****************MAIN SECTION POKEMON MOVE STYLING*******************************

.pokemonType h3 {
  padding: 0;
  margin-top: 70px;
}

#movesList {
  padding: 10px 0 50px 0;
  margin: 0;
  display: flex;
  // justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  // padding: 20px;
  li {
    list-style: none;
    width: 40%;
    padding: 20px;
    margin: 15px;
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
  }
}

.pokemonBalls h2 {
  color: white;
}

.pokemonImage img {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 30px;
}

.pokemonName,
.pokemonType {
  color: white;
  text-transform: capitalize;
}
