@use "./variables";

.container {
  text-align: center;
}

.pokemonImage {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
  }
}

#movesList {
  padding: 0;
  li {
    list-style: none;
  }
}
