@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

header {
  background: #3c5aa6;
}

.headerFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerFlex h2 {
  color: #ffdd00;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1260px;
}

h2 {
  padding-bottom: 2px;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}
.navBar li {
  padding-right: 70px;
  list-style: none;
}
.navBar li a {
  text-decoration: none;
  color: #ffdd00;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #ffdd00;
}

footer {
  background-color: #3c5aa6;
  text-align: center;
  width: 100%;
}
footer p {
  margin: 0;
  color: #ffdd00;
  padding: 20px 0;
}

html {
  font-family: "Press Start 2P", cursive;
}

.selection {
  padding: 50px;
  background-color: #2a75bb;
  color: white;
}

.container {
  text-align: center;
}

.container img {
  width: 100px;
}

#pageTitle {
  margin: 0;
  padding: 50px 50px 30px 50px;
}

form {
  padding-top: 30px;
}

#Pokemon {
  font-family: "Press Start 2P", cursive;
  padding: 10px 10px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 15px;
}

.background {
  background-image: url(../Images/backgroundImage3.png);
  height: 20vh;
  background-repeat: none;
  background-size: cover;
  background-position: center;
}

main {
  background-color: #38572f;
}

.pokemonBalls {
  padding: 100px 0;
  width: 100%;
}
.pokemonBalls img {
  width: 80%;
}

.pokemonBalls h2 {
  color: white;
}

.pokemonImage img {
  background-color: white;
  border: 3px solid black;
  border-radius: 20px;
  padding: 30px;
}

.pokemonImage {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.pokemonImage img {
  width: 100%;
}

.pokemonName,
.pokemonType {
  color: white;
  text-transform: capitalize;
}

.pokemonType h3 {
  padding: 0;
  margin-top: 70px;
}

#movesList {
  padding: 10px 0 50px 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#movesList li {
  list-style: none;
  width: 40%;
  padding: 20px;
  margin: 15px;
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
}

.battleSelection {
  padding: 50px;
  background-color: #2a75bb;
  color: white;
}

.battleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.battleContainer img {
  width: 500px;
}

button {
  font-family: "Press Start 2P", cursive;
  border-style: none;
  background-color: #ff0000;
  color: white;
  padding: 20px 10px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

button:active {
  background-color: #cc0000;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.youAndComputerChoice {
  padding: 70px 0;
  background-color: lightblue;
}

.youAndComputerChoice h2 {
  text-align: center;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.choiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.yourChoice,
.computerChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.imageContainerOne,
.imageContainerTwo {
  border: 3px solid black;
  background-color: white;
  width: 300px;
}

.imageContainerOne img,
.imageContainerTwo img {
  width: 300px;
}

.pokemonName1,
.pokemonName2 {
  text-align: center;
}

.battle {
  padding: 70px 0;
  background-color: #f4dacd;
}

.battle h2 {
  text-align: center;
  text-transform: uppercase;
}

.characterAndChoiceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characterAndChoiceOne,
.characterAndChoiceTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.displayCharacter img {
  width: 100%;
  height: auto;
}

.pokeballTeam {
  text-align: center;
}

.pokeballTeam img {
  width: 40px;
  height: auto;
}

.pokemonType1,
.pokemonType2,
.pokemonLevel1,
.pokemonLevel2 {
  text-align: center;
}

.versus {
  padding-top: 500px;
}

.winner {
  padding: 70px 0;
  background-color: lightblue;
}

.winner h2 {
  text-align: center;
  text-transform: uppercase;
}

.finalPokemon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.printWinner {
  font-size: 30px;
  padding: 40px 30px;
  text-align: center;
  line-height: 2.5;
  border: 3px solid black;
  background-color: white;
}

.levelAdvantage {
  padding-top: 40px;
  text-transform: uppercase;
}

@media (max-width: 720px) {
  h2 {
    padding: 0 25px;
  }
}
@media (max-width: 680px) {
  h1 {
    font-size: 1.9rem;
  }
}
@media (max-width: 656px) {
  h1 {
    font-size: 1.8rem;
  }
  nav ul {
    margin-left: 20px;
  }
}
@media (max-width: 632px) {
  h1 {
    font-size: 1.7rem;
  }
  nav ul {
    margin-left: 20px;
  }
}
@media (max-width: 608px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.4rem;
    padding-top: 2px;
  }
  nav ul {
    margin-left: 50px;
  }
  nav a {
    font-size: 0.8rem;
  }
}
@media (max-width: 596px) {
  h2 {
    font-size: 1.3rem;
    padding: 0 10px;
  }
}
@media (max-width: 550px) {
  h2 {
    font-size: 1.2rem;
    padding-top: 10px;
  }
}
@media (max-width: 516px) {
  .navBar {
    position: absolute;
    right: -100%;
    top: 48px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #3c5aa6;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .navBar li {
    padding: 10px;
    text-align: right;
  }
  .navBar.active {
    right: 0;
    padding: 0 15px 0 10px;
  }
  .hamburger {
    display: block;
    padding-left: 180px;
    margin-top: 23px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 422px) {
  footer p {
    font-size: 0.9rem;
  }
}
@media (max-width: 394px) {
  .hamburger {
    padding-left: 10px;
  }
}
@media (max-width: 368px) {
  #pageTitle {
    padding: 50px 0 30px 0;
  }
  ul li {
    font-size: 0.9rem;
  }
  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 338px) {
  .pokemonBalls h2 {
    font-size: 1.1rem;
  }
  ul li {
    font-size: 0.8rem;
  }
  footer p {
    font-size: 0.7rem;
  }
  .navBar {
    top: 43px;
  }
}
@media (max-width: 332px) {
  .pokemonBalls h2 {
    font-size: 1rem;
  }
  ul li {
    font-size: 0.7rem;
  }
  footer p {
    font-size: 0.6rem;
  }
  .navBar {
    top: 39px;
  }
}
@media (max-width: 830px) {
  .pokeballTeam img {
    width: 30px;
  }
  .imageContainerOne,
.imageContainerTwo {
    width: 150px;
  }
  .imageContainerOne img,
.imageContainerTwo img {
    width: 150px;
  }
  .versus {
    padding-top: 300px;
  }
  .printWinner {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .imagePikachu img {
    width: 200px;
  }
  .pokeballTeam {
    display: none;
  }
}
@media (max-width: 500px) {
  .printWinner {
    padding: 20px 10px;
    font-size: 0.9rem;
  }
}
@media (max-width: 435px) {
  #pageTitle {
    padding: 0;
  }
  .imageContainerOne,
.imageContainerTwo {
    width: 70px;
  }
  .imageContainerOne img,
.imageContainerTwo img {
    width: 70px;
    padding-right: 10px;
  }
  .pokemonName1,
.pokemonName2,
.pokemonName1 h2,
.pokemonName2 h2,
.users {
    font-size: 0.7rem;
  }
  .yourChoice,
.computerChoice {
    font-size: 0.7rem;
  }
  .versus {
    padding-top: 150px;
    font-size: 0.7rem;
  }
  .finalPokemon,
.printWinner {
    font-size: 0.7rem;
  }
  .printWinner {
    padding: 20px 10px;
  }
}